<a href="https://colab.research.google.com/github/naylakamalati/PPROKOM3_B1_NaylaKamalatiPutri/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
print("dict['Name']:", dict['Name'])
print("dict['Age']:", dict['Age'])

dict['Name']: Zara
dict['Age']: 7

In [ ]:
student = {
"nama" : "faqih",
"umur" : 26,
"tinggi" : 177.6
}
print(student)
student["hobi"]="coding"

{'nama': 'faqih', 'umur': 26, 'tinggi': 177.6}

In [ ]:
student = {
"nama" : "faqih",
"umur" : 26,
"tinggi" : 177.6
}
print(student)
student.update({"hobi" : "coding"})
print(student)

{'nama': 'faqih', 'umur': 26, 'tinggi': 177.6}
{'nama': 'faqih', 'umur': 26, 'tinggi': 177.6, 'hobi': 'coding'}

In [ ]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
dict['Age'] = 8;
dict['School'] = "DPS School"
print("dict['Age']:", dict['Age'])
print("dict['School']:", dict['School'])

dict['Age']: 8
dict['School']: DPS School

In [ ]:
student = {
"nama" : "faqih",
"umur" : 26,
"tinggi" : 177.6
}
print(student)
student["nama"] = "darmawan"
print(student)

{'nama': 'faqih', 'umur': 26, 'tinggi': 177.6}
{'nama': 'darmawan', 'umur': 26, 'tinggi': 177.6}

In [ ]:
dict ={'Name': 'Zara', 'Age': 7, 'Class': 'First'}
del dict['Name']
dict.clear()
del dict
print("dict['Age']:", dict['Age'])
print("dict['School']:", dict['School'])

dict['Age']: dict['Age']
dict['School']: dict['School']

In [ ]:
student = {
"nama" : "faqih",
"umur" : 26,
"tinggi" : 177.6
}
print(student)
student.pop("umur")
print(student)

{'nama': 'faqih', 'umur': 26, 'tinggi': 177.6}
{'nama': 'faqih', 'tinggi': 177.6}

In [ ]:
A = "PEMROGRAMAN python"
print(len(A.split()))

2

In [ ]:
for i in range(2, 11, 2):
  print(i, end=" ")

2 4 6 8 10

In [ ]:
data1 = {'a':1, 'b':2}
data2 = {'b':3, 'c':4}
data1.update(data2)
print(data1)

{'a': 1, 'b': 3, 'c': 4}

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [1]:
x = 10
if x > 5:
  print("Lebih besar dari lima")

Lebih besar dari lima

In [5]:
x = 10
y = 5
z = x / y
print(z)

2.0

In [ ]:
x = int(input("batasan: "))
for i in range(1, x + 1, 2):
  print(i)

batasan: 5
1
3
5